<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.denis.home.sunnynotes"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".service.SunnyNotesService"/>

        <provider
            android:name=".data.generated.NoteProvider"
            android:authorities="com.denis.home.sunnynotes.data.NoteProvider"
            android:exported="false"/>

        <activity
            android:name=".noteDetail.NoteDetailActivity"
            android:label="@string/title_activity_note_detail"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.denis.home.sunnynotes.MainActivity" />>
        </activity>
    </application>

</manifest>